<!DOCTYPE HTML>
<html>

<head>
    <title>IR</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <script src="static/spatial/assets/js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="static/spatial/assets/js/pagination.js"></script>


</head>

<body class="landing">
<section>
    <table cellspacing="0" cellpadding="0">
        <tr><th>人物</th><th>装备</th></tr>
        <tbody id="tableInfo">
        <tr><td>雷声托尔</td><td>神锤</td></tr>
        <tr><td>钢铁侠</td><td>动力装甲</td></tr>
        <tr><td>蜘蛛侠</td><td>蜘蛛丝</td></tr>
        <tr><td>美国队长</td><td>盾牌</td></tr>
        <tr><td>绿巨人浩克</td><td>超人的力量</td></tr>
        <tr><td>金刚狼</td><td>艾德曼合金爪</td></tr>
        <tr><td>夜魔侠</td><td>Billy Club</td></tr>
        <tr><td>恶灵骑士</td><td>不死之术</td></tr>
        <tr><td>蚁人</td><td>“刺针”光枪</td></tr>
        <tr><td>万磁王</td><td>磁力</td></tr>
        </tbody>
    </table>
    <div id="pagination">
        <a onclick="firstPage()">首页</a>
        <a onclick="prevPage()">上一页</a>
        <a onclick="pnextPage()">下一页</a>
        <a onclick="lastPage()">尾页</a>
      <span id="numPage"></span>
    </div>
  </section>
</body>

</html>